/* Grid container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 1rem;
}

/* Individual card */
.card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
width: 100%;
}

/* Image inside card */
.card img, .card iframe {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.25rem solid #fc0;
  object-fit: cover;
  height: 400px; 
}


/* Card content */
.card-content {
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
}

/* For tablet layouts */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card-content {
    flex-direction: row;
  }

  /*  height of video card to match image cards */
  .card:not(:last-child) {
    height: 100%;
  }
}

/* For desktop layouts */
@media screen and (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:nth-child(3n) {
    justify-self: center;
  }

  .card:nth-last-child(1) {
    grid-column: span 3;
    width: 100%;
    height: auto;
  }

  /*height of video card to match image cards */
  .card:not(:last-child) {
    height: 100%;
  }
}